.quadrado_roxo {
    height: 150px;
    width: 150px;
    background-color: darkslateblue;
}
.quadrado_laranja{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 145, 0);
}

.container {
height: 100vh;
}

.linha_1 {
    display: flex;
    justify-content: space-between;
}
.linha_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linha_3 {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.linha{
    height: 33.333333333333333333%;
}

.metade{
    height: 50%;
}

.flex{
    display:flex;
}

.alinha_meio{
    justify-content: center;
}
.alinha_coluna_final{
    align-items: end;
}

.center{
    justify-content: center;
    align-items: center;
}
 
.coluna{
 flex-direction: column;
}
.meio_cima{
    justify-content: center;
}

.just_end{
   justify-content: end;
  
}
.just_center{
    justify-content: center;
}
.ali_end{
    align-items: end;
}
.ta{
    justify-content: center;
    align-items: end;
}
.start{
    justify-content: start;
}
.na{
    justify-content: end;
}
.no{
    align-items: end;
}
.je{
    justify-content: end;
}
.jo{
    align-items: end;
}
.si{
    align-items: center;
}

.bet{
    justify-content: space-between;

}
.po{
    justify-content: center;
}