.container{
    height: 100vh;
    width: 100vw;
}

.retangulo1{
    height: 100%;
    width: 50%;
    background-color: black;
}


.retangulo2{
    height: 100%;
    width: 50%;
    background-color: red;
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}
.center{
justify-content: center;
}
.colum{
    flex-direction: column;
}
.centro{
    align-items: center;
}